<nav class="white" role="navigation">
  <div class="nav-wrapper container">
      <div id="logoimg">
    <a href="/">
      <img id="logo-container" class="logo" src="/img/logo.png" class="brand-logo">
      </a>
      
    <ul id="member" class="right hide-on-med-and-down">
      <li><a href="#">Member Page</a></li>
    </ul>
    </div>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  

</div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Stock Watch</h1>
      <div class="row center">
        <h5 class="header col s12 light">A community based stock discussion application</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button"
          class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>
        <a href="/login" id="download-button"
          class="btn-large waves-effect waves-light teal lighten-1">Log In</a>
        <br><br>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="/img/indexpage.jpg" alt="Unsplashed background img 1">
  </div>
</div>



<div class="container">
  <div class="section">
    <div id="icons">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">forum</i></h2>
          <h5 class="center">Community</h5>

          <p class="light">This application is powered by you! Connect with thousands of people from across the world to
            discuss stocks, give advice, and so much more! Once you join our community you will find your stock family!
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Stocks</h5>

          <p class="light">Stocks offer investors the greatest potential for growth (capital appreciation) over the long
            haul. Investors willing to stick with stocks over long periods of time, say 15 years, generally have been
            rewarded with strong, positive returns.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">import_contacts</i></h2>
          <h5 class="center">Articles</h5>

          <p class="light">Stocks are always effected by the news. Good or bad. Our platform will give you the most up
            to date information and news articles about the company you are searching for. With these articles you can
            make an educated decision on whether or not you want to buy or sell the specific stock you are looking at.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a small team of three trying our best to make sure you get the most out of buying and sellings stocks. This site was made with love and we would appreciate any and all feedback!</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          <a href="https://iexcloud.io">Data provided by IEX Cloud</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>