<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a href="/">
      <img id="logo-container" class="logo" src="/img/logo.png" class="brand-logo">Stock Watch</a>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Member Page</a></li>
    </ul>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="sign">
      <h2>Login Form</h2>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      <br />
      <p>Or sign up <a href="/signup">here</a></p>
    </div>
  </div>
</div>

<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a small team of three trying our best to make sure you get the most
          out of buying and sellings stocks. This site was made with love and we would appreciate any and all feedback!
        </p>


      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a href="https://iexcloud.io">Data provided by IEX Cloud</a>
    </div>
  </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script type="text/javascript" src="/js/login.js"></script>