.list-group-item {
	line-height: 2.5;
}
/* STYLE CSS FOR MATERIALIZE */
body {
	background: white;
}
.text{
	color: rgba(24, 170, 82)
}

.logo {
    max-width: 323px;
    max-height: 121px;
}
#member {
	position: relative;
	float: right;
}
#otherpages {
	background-image: url(/img/wallpaper.jpeg)
}

nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
	font-size: 20px;
}

.sidenav-trigger {
	color: rgba(24, 170, 82);
}
.header {
	text-shadow: 2px 5px black
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
	z-index: 1;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

/* SIGN IN / LOG IN PAGE  */
#sign {
	border-radius: 25px;
	border: 3px solid black;
	margin: 40px;
	box-shadow: 5px 10px 18px #888888;
	padding: 15px;
	background: white;
	/* margin-bottom: 40px */
}

footer{
	margin-top: 40px
}
/* Member page */

.container-mem {
		margin: 0 auto;
		max-width: 1280px;
		width: 90%;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  max-width: 180px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 200px;

}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  overflow: auto;
  max-height: 200px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
#myInputautocomplete-list.autocomplete-items {
	overflow: auto;
	max-height: 189px;

}

.card {
	height:300px;
	
width:380px;
}
form {
	margin-left: 20px;
}

h1 {
	border-right: 5px black;
}
h2 {
	margin-left: 20px
}
h4{
	margin-left: 20px
}

#news {
	border-left: 1px solid black;
	padding: 10px;
	float: right;
	height: 800px;
	width: 300px;
}
#mainrow {
	border: 2px solid black;
	border-radius: 25px;
	margin-top: 40px;
}
.container-mem {
	background: lightgray;
	border-radius: 25px;

}
.artcard{
	width:260px;
}
.artPic{
	width:210px;
	height:120px;
}

